{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/css/education.css' %}" media="screen">

    <script class="u-script" type="text/javascript" src="{% static 'blog/js/jquery-1.9.1.min.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'blog/js/nicepage.js' %}" defer=""></script>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">


			<nav id="sidebar" class="active">
				<h1><a href="index.html" class="logo">M.</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home"></span> Home</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user"></span> About</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs"></span> Services</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
          </li>
        </ul>

        <div class="footer">
        	<p>
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					</p>
        </div>
    	</nav>
<!-- 
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button> -->
      <!-- Page Content  -->
      <div id="content" class="">
    <main role="main" class="" style="background: rgba(0, 0, 0, 0.086); height:100vh">
      <header class="u-clearfix u-header u-header" id="sec-e950">
        <div class="u-clearfix u-sheet u-sheet-1">
          <a href="#" class="u-image u-logo u-image-1" data-image-width="177" data-image-height="66">
            <img src="{% static 'blog/img/4e1cac9d000d47b5a16c0fed6c026e9a.png' %}" class="u-logo-image u-logo-image-1">
          </a>
          <nav class="u-align-left u-menu u-menu-one-level u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="MD">
            <div class="menu-collapse" style="letter-spacing: 0px; font-size: 1rem; font-weight: 700;" wfd-invisible="true">
              <a class="u-active-palette-1-base u-button-style u-custom-active-color u-custom-border u-custom-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-hover-palette-1-base u-nav-link"
                href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined">
                  <use xlink:href="#svg-7b92"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                  xml:space="preserve" class="u-svg-content">
                  <g>
                    <rect y="36" width="302" height="30"></rect>
                    <rect y="236" width="302" height="30"></rect>
                    <rect y="136" width="302" height="30"></rect>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </a>
            </div>
            <div class="u-custom-menu u-nav-container" wfd-invisible="true">
              <ul class="u-custom-font u-nav u-spacing-20 u-text-font u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                    style="padding: 10px 6px;">home</a>
                </li>
                <li class="u-nav-item"><a
                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                    href="#" style="padding: 10px 6px;">about</a>
                </li>
                <li class="u-nav-item"><a
                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                    style="padding: 10px 7px 10px 6px;">contact us</a>
                </li>
              </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse" wfd-invisible="true">
              <div
                class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                  <div class="u-menu-close"></div>
                  <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link">home</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">about</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link">contact us</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="u-black u-menu-overlay u-opacity u-opacity-70" wfd-invisible="true"></div>
            </div>
          </nav>
          <a href="https://nicepage.com/one-page-template"
            class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-base u-radius-50 u-btn-1">Join</a>
        </div>
      </header>
        <div class="container">
            <div class="row"  >
                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                    {% block content %} {%endblock%}
              </div>
        </div>
		</div>
    </main>
    <script class="u-script" type="text/javascript" src="{% static 'blog/js/jquery-1.9.1.min.js' %}" defer=""></script>
    <script src=" {% static 'blog/js/jquery.min.js' %}"></script>
    <script src=" {% static 'blog/js/popper.js' %}"></script>
    <script src=" {% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src=" {% static 'blog/js/main.js' %}"></script>
  </body>
</html>