{% extends "blog/basewithsidebar.html" %}
{% block content %}
 
    {% for document in documents %}
      <div class="col-md-6" >
          <div class="col-md-12">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="px-2 " >
                          <img class="icon" width="50px" src="{{ document.author.profile.image.url }}" alt="">
                           </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">{{ user.username }}</h6> <span>{{ document.date_posted|date:"F d, Y" }}</span>
                            <small class="text-muted">{{ document.category }}</small>
                        </div>
                    </div>
                    <div class="badge"> <a  href="{% url 'post-detail' document.id %}" >Read more</a> </div>
                </div>
                <div class="mt-4">
                    <h3 class="heading">{{ document.description }}</h3>
                    <a href="{% url 'category' document.category%}">{{ document.category}}</a>
                   <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="mt-3"> <span class="text1">32 Applied <span class="text2">of 50 capacity</span></span> </div>
                    </div> 
                </div>
            </div>
        </div>
      
        
       
    </div>
    {% endfor %}



 
{% endblock content %}


 



